body{
    margin: 0;
    height: 100%;
}

@font-face {
    font-family: sfpro;
    src: url(/font/SF-Pro-Display-Medium.otf);
}
.video-main{
    margin: 0;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100%;
    width: auto;
}

video{
    max-width: 70%;
    max-width: 70%;
}





.container {
    display: flex;
    height: 100%;
    width: 100%;
}

#search{
    display: flex;
    height: 100%;
    width: 100%;
    position: sticky;
}

/* responsividade */

.icone{
    width: 100%;
    max-width: 100px;
    padding: 1rem;
    margin-left: 10px;
}

.logo{
    width: 100%;
    max-width: 400px;
}

#form{
    max-width: 400px;
}



/* containers */

#video-container{
    display: none;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cadeia-video{
    display: flex;
    align-items: center;
}

